<h1>Все коллекции</h1>

<table>
  <tr>
    <th>Название</th>
    <th>Описание</th>
    <th></th>
  </tr>

  <% @collection.each do |collection| %>
    <tr>
      <td><%= link_to collection.name, collection_path(collection)%></td>
      <td><%= collection.description %></td>
      <td><%= link_to 'Открыть', collection_path(collection) %></td>
      <td><%= link_to 'Редактировать', edit_collection_path(collection) %></td>
      <td><%= link_to 'Удалить', collection_path(collection), method: :delete, data: { confirm: 'Ты хорошо подумал?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Создать новую коллекцию', new_collection_path %>

