<h1>Создаем коллекцию</h1>
<%= form_with scope: :collection, url: collections_path, local: true do |form| %>
  <p>
    <%= form.label :Название %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :Описание %><br>
    <%= form.text_area :description %>
  </p>
<h2>Запрос</h2>
  <p>
    <%= form.label :Raw_headers %><br>
    <%= form.text_field :raw_headers %>
  </p>

  <p>
    <%= form.label :Url %><br>
    <%= form.text_field :url %>
  </p>

<!--  <p>-->
<!--    <%#= form.label :Method %><br>-->
    <%#= form.select :method %>
<!--  </p>-->

  <p>
    <%= form.label :Название %><br>
    <%= form.text_field :name_request%>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description_request %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>