<h1>Просмотр коллекции</h1>

<p>
  <strong>Название:</strong>
  <%= @collection.name %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @collection.description %>
</p>

<%= link_to 'Папки', collection_folders_path(@collection) %>
<%= link_to 'Запросы', collection_requests_path(@collection) %>
<%= link_to 'Назад', collections_path %>