<h1>Просмотр коллекции</h1>

<p>
  <strong>Название:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @item.description %>
</p>

<%= link_to 'Добавить папку', new_item_path(parent_id: @item.id) %>
<%= link_to 'Запросы', item_requests_path(@item) %>
<%= link_to 'Назад', items_path %>